.flex-dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}
sidebar{
    display: block;
    height: 100%;
    width: 300px;
    background-color:#ffff;
}
sidebar .sidebar-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
    border: 1px solid rgb(0, 0, 0, .0625);
    border-right: 0px;

}
sidebar .sidebar-titulo img {
    height: 70px;
    width: 70px;
}
sidebar .sidebar-titulo h2 {
    font-size:18px ;
    margin-top: 8px;
}
div .menu{
    border-right: 1px solid rgb(0, 0, 0, .0625);
}
div .menu ul{
    list-style-type: none;
    
}
div .menu ul li{
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
div .menu ul li svg{
    color:#6e8efb;
    font-size: 25px;
}
div .menu ul li a{
    color: #72777a;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
div .menu ul li a:hover{
    color: #4d4d4d;

}
.selecionado{
    background-color: #f0f0f0;
}
.selecionado a {
    color: black !important;
}