main{
    display: block;
    height: 100%;
    background-color: rgb(250, 250, 250);
    width: calc(100% - 300px);
    
}

main .main-conteudo{
    padding: 30px;
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: auto;
}
.main-conteudo::-webkit-scrollbar-track
{
	
	border-radius: 10px;
	background-color: #F5F5F5;
}

.main-conteudo::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.main-conteudo::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	
	background: linear-gradient(135deg, rgb(220, 171, 226), rgb(153, 153, 236));
}

.main-conteudo .painel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px 0;
     
}
.painel-fileira {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.painel-50{
    width: 48%;
}
.painel-fileira button{
    height: 160px;
    background: linear-gradient(135deg, rgb(218, 131, 230), rgb(121, 121, 231));
    font-size: 22px;
    color: white;
  
}
.painel-fileira button svg {
    margin-bottom: 10px;
    font-size: 30px;
}
.painel-fileira button:hover{
    transform: scale(1.05);
    transition: 0.2s;
}
div #ajax-conteudo {
    width: 100%;
    margin-top: 20px; 
    background-color: white;
    box-shadow: 0 0 2rem rgb(0, 0, 0, 0.1);
}


div #ajax-conteudo button{
    background: linear-gradient(135deg, rgb(218, 131, 230), rgb(121, 121, 231));
    color: white;
}
div #ajax-conteudo button:hover{
    transform: scale(1.10);
    transition: 0.2s;
}
div #ajax-conteudo label{
    font-size: 14px;
    color: #72777a;
}

div #ajax-conteudo table svg{
    cursor: pointer;
}
.conteudo-dinamico{
    padding: 20px;
}
div .conteudo-titulo-main {
    padding: 5px 0;

}
div .conteudo-titulo-main h2{
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 300;
   color: #72777a;
}
div .imc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
div .imc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    padding: 40px 20px;
    background-color: white;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.1);
}
div .imc h2{
    font-weight: 300;
    color: #72777a;
}
div .imc h2 span:nth-child(2){
    color: rgb(185, 101, 181);
    font-weight: 600;
}
